# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/.vs/

backend/**/*.suo
backend/**/*.userosscache
backend/**/*.sln.docstates
backend/**/TestResults/
backend/**/*.log
backend/MathQuest.Api/*.lscache
backend/**/appsettings.Local.json



# SQLite Database
backend/**/*.db
backend/**/*.db-shm
backend/**/*.db-wal


# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/build/
frontend/.vite/
frontend/.eslintcache
frontend/npm-debug.log*
frontend/yarn-debug.log*


# ENV (globalne pliki środowiskowe)
.env
.env.*

g
# macOS
.DS_Store
**/.DS_Store
**/._*


# VS Code
.vscode/